@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --font-style-montserrat: 'Montserrat', sans-serif;
    --cor-preto: #000;
    --cor-branco: #fff;
    --t-50: 50px;
    --t-20: 20px;
    --t-15: 15px;
    --t-13: 13px;
}